<p>Hello and welcome to the Techmasters website, a place for technological tutorials and assistance. If you would like to place a work order (which will alert Tehcmasters to your computer problems so that they may assist you), please follow the appropriate link on the sidebar.</p>
<h1>For Techmasters on the Work Duty List</h1>

<br /><center><%= link_to "Sign Up to Techmasters-Work!", signup_path, class: "btn btn-large btn-primary" %></center><br />

Techmasters, if you are using Techmasters as your work duty (if you are working in the PACC twice a term), you must sign up to the website. When you do, you make yourself available to members of the Andover student body who need assistance with their computers. You will receive emails after every work order is submitted, and you will be expected to reply to Ravn Jenkins at either her Andover email address rjenkins@andover.edu or the work duty email address techmasterswork@gmail.com. Ravn will tell you if you are assigned to the work order or not. If you are, it is your responsibility to email the person listed in your work order to contact him or her about his or her computer problems. Please do this within 24 hours of receiving your email from Ravn confirming your assignment to the work order.<br /><br />

~Your Friendly Neighborhood Webmaster(Claire)